<div class="content">
	<%- include('sections/common/spinner'); -%>

	<%- include('sections/common/header'); -%>


	<%- include('sections/product-card/card'); -%>
</div>

<footer class="footer">
	<%- include('sections/common/bottom-menu'); -%>

	<%- include('sections/common/footer'); -%>
</footer>
